@font-face {
  font-family: netflix;
  src: url("../font/NetflixSans-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: netflix, sans-serif;
}

header {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.datosContacto {
  font-size: 1.5rem;
  padding: 20px;
}

.datosContacto a {
  text-decoration: none;
  color: rgb(158, 156, 156);
}

.datosContacto a:hover {
  color: black;
  text-decoration: underline;
}

header img {
  height: 150px;
  width: 300px;
}

.divisor {
  height: 2px;
  width: 100%;
  background-color: rgb(70, 70, 70);
}

.buscador {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.buscador a {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: rgb(158, 156, 156);
  text-decoration: none;
}

.buscador a:hover {
  transform: scale(0.9);
  color: black;
}

main {
  background-image: url(../img/fondo.jpg);
  height: 400vh;
  width: 100vw;
}

.contenedores {
  height: 800px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

.contenedores img {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
  grid-area: photo;
  justify-self: center;
}

.articulos {
  height: 500px;
  width: 700px;
  margin: 60px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(235, 234, 232);
  box-shadow: 5px 10px 5px 5px grey;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas:
    "photo titulo"
    "photo textConsAct"
    "photo precioAct"
    "photo textConsMin"
    "photo minPrecio"
    "photo textConsMax"
    "photo maxPrecio";
}

.articulos:hover {
  transform: scale(1.1);
}

.articulos h3 {
  font-size: 2.5rem;
  grid-area: titulo;
  align-self: center;
  justify-self: center;
}

.textConsAct {
  grid-area: textConsAct;
  align-self: center;
  margin-left: 20px;
}

.textConsMin {
  grid-area: textConsMin;
  align-self: center;
  margin-left: 20px;
}

.textConsMax {
  grid-area: textConsMax;
  align-self: center;
  margin-left: 20px;
}

.precioActual {
  height: 25px;
  width: 50%;
  /* border-radius: 10px; */
  grid-area: precioAct;
  justify-self: center;
  align-self: self-start;
}

.precioMinimo {
  height: 25px;
  width: 70%;
  /* border-radius: 10px; */
  grid-area: minPrecio;
  justify-self: center;
  align-self: self-start;
}

.precioMaximo {
  height: 25px;
  width: 70%;
  /* border-radius: 10px; */
  grid-area: maxPrecio;
  justify-self: center;
  align-self: self-start;
}

.precioMin {
  display: flex;
  font-size: 1em;
  color: rgb(2, 166, 2);
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  font-style: bold;
}

.precioMax {
  display: flex;
  font-size: 1em;
  color: red;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  font-style: bold;
}

.precioActual {
  display: flex;
  font-size: 1em;
  color: black;
  text-align: center;
  justify-content: center;
}

.precioAct {
  align-self: center;
  font-size: 1.5rem;
  font-style: bold;
}
