* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.datosContacto {
  font-size: 1.5rem;
  padding: 20px;
}

.datosContacto a {
  text-decoration: none;
  color: rgb(158, 156, 156);
}

.datosContacto a:hover {
  color: black;
  text-decoration: underline;
}

header img {
  height: 150px;
  width: 300px;
}

.divisor {
  height: 2px;
  width: 100%;
  background-color: rgb(70, 70, 70);
}

.buscador {
  height: 50px;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.buscador a {
  font-family: sans-serif;
  font-size: 2rem;
  color: rgb(158, 156, 156);
  text-decoration: none;
  display: block;
}

.buscador a:hover {
  transform: scale(0.9);
  color: black;
}

main {
  background-image: url(../img/fondo.jpg);
  height: 400vh;
  width: 100vw;
}

.contenedores {
  height: 800px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.contenedores img {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  grid-area: photo;
  justify-self: center;
}

.articulos {
  height: 600px;
  width: 480px;
  margin: 90px;
  border-radius: 5px;
  background-color: rgb(235, 234, 232);
  box-shadow: 5px 10px 5px 5px grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr 2.5fr 2fr;
  grid-template-areas:
    "titulo titulo"
    "photo photo"
    "precioAct precioAct"
    "minPrecio maxPrecio";
}

.articulos h3 {
  grid-area: titulo;
  align-self: end;
  margin-left: 80px;
}

.precioActual {
  height: 70px;
  width: 50%;
  border-radius: 10px;
  grid-area: precioAct;
  justify-self: center;
  align-self: center;
  background-color: rgb(209, 209, 209);
  box-shadow: 5px 5px 5px;
}

.precioMinimo {
  height: 50px;
  width: 70%;
  border-radius: 10px;
  grid-area: minPrecio;
  justify-self: center;
  align-self: self-start;
  background-color: rgb(209, 209, 209);
  box-shadow: 5px 5px 5px rgb(1, 196, 40);
}

.precioMaximo {
  height: 50px;
  width: 70%;
  border-radius: 10px;
  grid-area: maxPrecio;
  justify-self: center;
  align-self: self-start;
  background-color: rgb(209, 209, 209);
  box-shadow: 5px 5px 5px rgb(194, 0, 0);
}
